.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    /* border: 2px solid rgb(162, 0, 255); */
    transition: var(--transition);
    display: flex;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 30%;
    /* border: 2px solid red; */
}

.portfolio__item h3 {
    margin: 2rem 0;
    /* border: 2px solid rgb(199, 252, 7); */
}

.portfolio__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
    /* border: 2px solid rgb(0, 255, 47); */
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    /* border: 2px solid rgb(255, 0, 166); */
    height: 10%;
    justify-content: center;
}

.portfolio__item-content {
    height: 40%;
}
.paragraph{
    height: 90%;
    /* border: 2px solid yellow; */
}
.buttonlink{
    border: 1.5px solid var(--color-primary);
    border-radius: 10px 10px;
    height: 40px;
    width: 100px;
    font-size: 1rem;
    text-align: center;
    display: grid;
    align-items: center;
}
.buttonlink:hover{
    /* background-color: var(--color-bg-variant); */
}

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}